/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}
h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 40px;
}
h3,
.h3 {
  font-size: 32px;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 24px;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 16px;
  font-weight: 700;
}
h6,
.h6 {
  font-size: 14px;
  font-weight: 700;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 24px;
}

.heading {
  text-align: left;
  margin-bottom: 40px;
}

.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px 0 20px;
  background: #379392;
}

@media (min-width: 1200px) {
  h1.heading {
    font-size: 68px;
  }
  h2.heading {
    font-size: 60px;
  }
}

/*

=====================
INTRO
=====================

*/
@media (min-width: 1200px) {
  .text-intro h1 {
    font-size: 70px;
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}


.lead {
  margin-bottom: 24px;
  font-size: 18px;
}

.margin-bottom--big {
  margin-bottom: 60px !important;
}

.no-space .box {
  margin: 0 -15px;
}
